body{
    background-color: #1d1d1d;
    color: white;
}

#logout{
    background-color: #3d3d3d;
    color: white;
    font-size: large;
    border: 2px solid white;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 10em;
}

#logout:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

#image{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
}

#image:hover{
    cursor: pointer;
}

#image img{
    width: 100%;
    height: 100%;
}

#header{
    background-color: #3d3d3d;
    position: fixed;
    width: 97%;
    padding : 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3d3d3d;
    position: fixed;
    top: 7em;
    width: 15.9em;
    height: 100%;
}

#menu{    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.menu-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    background-color: #3d3d3d;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    border: 2px solid white;
    border-radius: 0.5em;
    width: 90%;
    text-align: center;
}

.menu-item img{
    width: 2em;
    height: 2em;
}

#chat-container{
    background-color: #3d3d3d;
    position: fixed;
    top: 7em;
    left: 16.8em;
    width: 69.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat{
    width: 98%;
}

#heading{
    width: 20%;
    text-align: center;
}

#input{
    position: fixed;
    bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

#input input{
    width: 30em;
    height: 2em;
    background-color: white;
    padding: 0.5em;
}

#input button{
    background-color: #3d3d3d;
    color: white;
    border: 2px solid white;
    padding: 0.5em;
    width: 10em;
}

#input button:hover{
    cursor: pointer;
}

#chat{
    display: flex;
    flex-direction: column;
}

.receive{
    background-color: #3d3d3d;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    border: 2px solid white;
    border-radius: 0.5em;
    width: fit-content;
    max-width: 70%;
    text-align: left;
}

.send{
    align-self: flex-end;
    background-color: #3d3d3d;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    border: 2px solid white;
    border-radius: 0.5em;
    width: fit-content;
    max-width: 70%;
    text-align: right;
}